name: Validate Docker Files

on:
  pull_request:
    branches:
      - '*'
  schedule:
    - cron:  '0 0 * * 0'


env:
  BASE_IMAGE_NAME: devopsubuntu18.04
  PYTHON_IMAGE_NAME: devopsubuntu18.04-python
  DOTNET_IMAGE_NAME: devopsubuntu18.04-dotnet
  NODEJS_IMAGE_NAME: devopsubuntu18.04-nodejs
  DOCKER_IMAGE_NAME: devopsubuntu18.04-docker
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  TAG_PREFIX: stage

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Make all .sh files executable
      run: find . -type f -iname "*.sh" -exec chmod +x {} \;

    - name: Configure TAG
      run: echo "::set-env name=TAG::$TAG_PREFIX$(date +%s)$GITHUB_RUN_ID"

    - name: Replace FROM to use base image
      run: sed -i "s/FROM\s.*/FROM $BASE_IMAGE_NAME:$TAG/" Dockerfile
      working-directory: ./ubuntu18.04-python

    - name: Replace FROM to use base image
      run: sed -i "s/FROM\s.*/FROM $BASE_IMAGE_NAME:$TAG/" Dockerfile
      working-directory: ./ubuntu18.04-dotnet

    - name: Replace FROM to use base image
      run: sed -i "s/FROM\s.*/FROM $BASE_IMAGE_NAME:$TAG/" Dockerfile
      working-directory: ./ubuntu18.04-nodejs

    - name: Replace FROM to use base image
      run: sed -i "s/FROM\s.*/FROM $BASE_IMAGE_NAME:$TAG/" Dockerfile
      working-directory: ./ubuntu18.04-docker

    - name: Build the base agent image
      run: docker build -t $BASE_IMAGE_NAME:$TAG .
      working-directory: ./ubuntu18.04-base

    - name: Build the Python agent image
      run: docker build -t $PYTHON_IMAGE_NAME:$TAG .
      working-directory: ./ubuntu18.04-python

    - name: Build the NET Core agent image
      run: docker build -t $DOTNET_IMAGE_NAME:$TAG .
      working-directory: ./ubuntu18.04-dotnet

    - name: Build the Node.js agent image
      run: docker build -t $NODEJS_IMAGE_NAME:$TAG .
      working-directory: ./ubuntu18.04-nodejs

    - name: Build the Docker agent image
      run: docker build -t $DOCKER_IMAGE_NAME:$TAG .
      working-directory: ./ubuntu18.04-docker
